doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/games') My favourite games
    br
    a(href='/music') My favourite music

    block content
